body {
  background-color: palegreen;
}

.showExchange{
  background-color: grey;
  font-size: 20px;
  text-align: center;
}

.showErrors {
  background-color: red;
  text-align: center;
  font-size: 20px;
  
}